body {
    margin-left:40px;
    margin-right:40px;
    margin-top:40px;
    margin-bottom:40px;
    background-color: rgb(249, 165, 86);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgb(255, 253, 253);
    color: black;
    height: 40px;
    display: flex;
}
h1{
    text-align: center;
    font-size: 500%;
    font-weight:lighter;
    border:10px rgb(189, 13, 95);
    border-style:double;
}
p{
    text-align:left;
    vertical-align:100px;
    padding-right:300px;
    padding-left:60px;
    padding-top:40px;
    font-size:30px;
}
.forma {
    content: "";
    clear: both;
    display: table;
    border:10px rgb(189, 13, 95);
    border-style:double;
}
#img {
    float:right;
    width:700px;
    padding-right:50px;
    padding-left:40px;
    padding-top:70px;
    padding-bottom:20px;
}